<html>

<form id = "addairline" action="" method="post" onsubmit="return checkEmpty('iata', 'name', 'terminal')">
      IATA Code: <input type="text" name="iata" id="iata" value=""><br>
      Name: <input type="text" name="name" id="name" value=""><br>
      Departure terminal: <input type="text" name="terminal" id="terminal" value=""><br>
      <input type="submit" value="Submit">
</form>


<form id='search_airlines' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search airlines for name starting with:</label>
    <input id='searchName' type='text' name='searchName' value=''>
    <input type="button" value="Search" onclick="searchSQL('airline')">
</form>

<h3>Airlines:</h3>
<table>
    <thead> 
        <th>IATA Code</th>
        <th>Name</th> 
        <th>Terminal</th>
        <th>Delete</th>  
    </thead> 
    <tbody>
        {{#each airlines}} 
        <tr> 
            <td>{{IATA_code}}</td> 
            <td>{{name}}</td> 
            <td>{{departure_terminal}}</td>
            <td><button onclick="deleteRow('airline','{{IATA_code}}')">Delete</button></td>
            <td><a href="/airline/{{IATA_code}}">Update</a></td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
<a href = "/airline">{{return}}</a 
</html>
