<html>

<form id = "adddestination" action="" method="post">
      City: <input type="text" name="city" value=""><br>
      Country: <input type="text" name="country" value=""><br>
      <input type="submit" value="Submit">
</form>

<form id='search_destinations' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search destinations for city starting with:</label>
    <input id='searchName' type='text' name='searchName' value=''>
    <input type="button" value="Search" onclick="searchSQL('destination')">
</form>


<h3>Destinations:</h3>
<table>
    <thead> 
        <th>City</th> 
        <th>Country</th> 
        <th>Delete</th>  
    </thead> 
    <tbody>
        {{#each destinations}} 
        <tr> 
            <td>{{city}}</td> 
            <td>{{country}}</td> 
            <td><button onclick="deleteRow('destination',{{id}})">Delete</button></td>
            <td><a href="/destination/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
<a href = "/destination">{{return}}</a>
</html>
