<html>
<!--https://www.pexels.com/photo/stairs-people-airport-escalators-4610/ Royality free photo-->
<link rel="stylesheet" href="/static/database.css">
<link rel="stylesheet" href="/static/table.css">
<link rel="stylesheet" href="/static/top.css">



<div class="topnav">
  <a href="/pilot">Pilot</a>
  <a href="/airline">Airline</a>
  <a href="/flight">Flight</a>
  <a href="/passenger">Passenger</a>
  <a href="/destination">Destination</a>
  <a href="/plane">Plane</a>
</div>

<div class="submissions"><h3>Destinations:</h3>

<form id = "adddestination" action="" method="post">
      Add new destination:<br>
      <input type="text" name="city" value="City: "><br>
      <input type="text" name="country" value="Country: ">
      <input type="submit" value="Submit">
</form>
<br>
<br>

<form id='search_destinations' action='' method=''>
    Search destinations for city starting with:<br>
    <input id='searchName' type='text' name='searchName' value='City Search:'>
    <input type="button" value="Search" onclick="searchSQL('destination')">
</form></div>
<div><img src="https://images.pexels.com/photos/4610/stairs-people-airport-escalators.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></div>



<table>
    <thead> 
        <th>City</th> 
        <th>Country</th> 
        <th>Delete</th>  
    </thead> 
    <tbody>
        {{#each destinations}} 
        <tr> 
            <td>{{city}}</td> 
            <td>{{country}}</td> 
            <td><button onclick="deleteRow('destination',{{id}})">Delete</button></td>
            <td><a class="update" href="/destination/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
<a href = "/destination">{{return}}</a>
</html>
