<html>
<link rel="stylesheet" href="/static/database.css">
<link rel="stylesheet" href="/static/table.css">
<link rel="stylesheet" href="/static/top.css">



<div class="topnav">
  <a href="/pilot">Pilot</a>
  <a href="/airline">Airline</a>
  <a href="/flight">Flight</a>
  <a href="/passenger">Passenger</a>
  <a href="/destination">Destination</a>
  <a href="/plane">Plane</a>
</div>

    <div class="submissions"><h3>Passengers:</h3>

<form id = "addpassenger" action="" method="post">
      Add new passenger: <br>
      <input type="text" name="fname" value="First Name"><br>
      <input type="text" name="lname" value="Last Name: "><br>
      <input type="text" name="visits" value="Number of Visits: "><br>
      <select name="flight"> 
        {{#each flights}}
        <option value="{{airline_designator}}{{flight_number}}">{{airline_designator}}{{flight_number}}</option>
        {{/each}}
      </select>
      <input type="submit" value="Submit">
</form>
<br>
<br>

<form id='search_destinations' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    Search passengers by first name:<br>
    <input id='searchName' type='text' name='searchName' value='Passenger search'>
    <input type="button" value="Search" onclick="searchSQL('passenger')">
</form></div>
<div><img src="https://images.pexels.com/photos/4610/stairs-people-airport-escalators.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></div>



<br>
<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Number of Visits</th> 
        <th>Flight</th>  
        <th>Delete</th>  
    </thead> 
    <tbody>
        {{#each passengers}} 
        <tr> 
            <td>{{first_name}}</td> 
            <td>{{last_name}}</td> 
            <td>{{number_of_visits}}</td> 
            <td>{{flight}}</td> 
            <td><button onclick="deleteRow('passenger',{{id}})">Delete</button></td>
            <td><a class="update" href="/passenger/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
<a href = "/passenger">{{return}}</a>
</html>