<html>

<h3>List of passengers who have flown with pilot {{passengers.0.pi_fname}} {{passengers.0.pi_lname}}</h3>
<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Departure Date</th> 
        <th>Flight</th>  
        <th>Delete</th>  
    </thead> 
    <tbody>
        {{#each passengers}} 
        <tr> 
            <td>{{first_name}}</td> 
            <td>{{last_name}}</td> 
            <td>{{departure}}</td> 
            <td>{{flight}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table>
<a href = "/passenger-pilot">{{return}}</a> 
</html>