<html>

<form id = "addpassenger" action="" method="post">
      First Name: <input type="text" name="fname" value=""><br>
      Last Name: <input type="text" name="lname" value=""><br>
      Number of Visits: <input type="text" name="visits" value=""><br>
      Flight: <select name="flight"> 
        {{#each flights}}
        <option value="{{airline_designator}}{{flight_number}}">{{airline_designator}}{{flight_number}}</option>
        {{/each}}
      </select><br>
      <input type="submit" value="Submit">
</form>

<form id='search_destinations' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search passengers for first name starting with:</label>
    <input id='searchName' type='text' name='searchName' value=''>
    <input type="button" value="Search" onclick="searchSQL('passenger')">
</form>



<h3>Passengers:</h3>
<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Number of Visits</th> 
        <th>Flight</th>  
        <th>Delete</th>  
    </thead> 
    <tbody>
        {{#each passengers}} 
        <tr> 
            <td>{{first_name}}</td> 
            <td>{{last_name}}</td> 
            <td>{{number_of_visits}}</td> 
            <td>{{flight}}</td> 
            <td><button onclick="deleteRow('passenger',{{id}})">Delete</button></td>
            <td><a href="/passenger/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>