<html>

<form id = "addpilot" action="" method="post">
      First Name: <input type="text" name="fname" value=""><br>
      Last Name: <input type="text" name="lname" value=""><br>
      Employer: <select name="employer"> 
        {{#each airlines}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select><br>
      Flight: <select name="flight"> 
        {{#each flights}}
        <option value="{{airline_designator}}{{flight_number}}">{{airline_designator}}{{flight_number}}</option>
        {{/each}}
      </select><br>
      <input type="submit" value="Submit">
</form>


<form id='search_destinations' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search pilots for first name starting with:</label>
    <input id='searchName' type='text' name='searchName' value=''>
    <input type="button" value="Search" onclick="searchSQL('pilot')">
</form>


<form id='filter_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by employer </label>
    <select id='homeworld_filter' name="homeworld_filter"> 
        {{#each airlines}}
        <option value={{name}}>{{name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterSQL('pilot')">
</form>



<h3>Pilots:</h3>
<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Employer</th> 
        <th>Flight</th>  
        <th>Delete</th>  
    </thead> 
    <tbody>
        {{#each pilots}} 
        <tr> 
            <td>{{first_name}}</td> 
            <td>{{last_name}}</td> 
            <td>{{employer}}</td> 
            <td>{{flight}}</td> 
            <td><button onclick="deleteRow('pilot',{{id}})">Delete</button></td>
            <td><a href="/pilot/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>