<html>

<form id = "addplane" action="" method="post" onsubmit="return checkEmpty('model')">
      Airline: <select name="airline"> 
        {{#each airlines}}
        <option value="{{IATA_code}}">{{name}}</option>
        {{/each}}
      </select><br>
      Model: <input type="text" name="model" id="model" value=""><br>
      <input type="submit" value="Submit">
</form>

<form id='search_planes' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search planes for airline starting with:</label>
    <input id='searchName' type='text' name='searchName' value=''>
    <input type="button" value="Search" onclick="searchSQL('plane')">
</form>

<form id='filter_planes' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by airline </label>
    <select id='filter' name="filter"> 
        {{#each airlines}}
        <option value={{name}}>{{name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterSQL('plane')">
</form>


<h3>Planes:</h3>
<table>
    <thead> 
        <th>Plane Number</th> 
        <th>Airline</th> 
        <th>Model</th> 
        <th>Delete</th>  
    </thead> 
    <tbody>
        {{#each planes}} 
        <tr> 
            <td>{{id}}</td> 		
            <td>{{airline}}</td> 
            <td>{{model}}</td> 
            <td><button onclick="deleteRow('plane',{{id}})">Delete</button></td>
            <td><a href="/plane/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
<a href = "/plane">{{return}}</a>
</html>