<link rel="stylesheet" href="/static/update.css">
<link rel="stylesheet" href="/static/table.css">

<div class="topnav">
  <a href="/destination">Return to destination page</a>
</div>


<div class="box"><h1>Update {{destination.city}} {{destination.country}}:</h1>
<form id="update-destination" action="/destination" method="post" onsubmit="return checkEmpty('city', 'country')">
    City:<br>
    <input type="text" name="city" id="city" value="{{destination.city}}"><br>
    Country: <br>
    <input type="text" name="country" id="country" value="{{destination.country}}"><br>
</form>
<button onclick="updateRow('destination', {{destination.id}})">Update</button></div>

<div><img src="https://images.pexels.com/photos/4610/stairs-people-airport-escalators.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></div>

<table>
    <thead> 
        <th></th>  
    </thead> 
    <tbody>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
    </tbody> 
</table> 