<h1>Update Plane's Airline and Model:</h1>
<form id="update-plane" action="/plane" method="post" onsubmit="return checkEmpty('model')">
    Airline: <select name="airline" id = "plane-selector"> 
        {{#each airlines}}
        <option value="{{IATA_code}}">{{name}}</option>
        {{/each}}</select><br>
    Model: <input type="text" name="model" id = "model" value="{{plane.model}}"><br>
</form>
<button onclick="updateRow('plane', {{plane.id}})">Update</button>
<script defer>selector("{{plane.airline}}", "plane");</script>