<h1>Update {{pilot.first_name}} {{pilot.last_name}} {{pilot.employer}} {{pilot.flight}}:</h1>
<form id="update-pilot" action="/pilot" method="post">
    First Name: <input type="text" name="first_name" value="{{pilot.first_name}}"><br>
    Last Name: <input type="text" name="last_name" value="{{pilot.last_name}}"><br>
    Employer: <select name="employer" id = "employer-selector"> 
        {{#each airlines}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select><br>
    Flight: <select name="flight" id = "flight-selector"> 
        {{#each flights}}
        <option value="{{airline_designator}}{{flight_number}}">{{airline_designator}}{{flight_number}}</option>
        {{/each}}
      </select><br>
</form>
<button onclick="updateRow('pilot', {{pilot.id}})">Update</button>
<script defer>selector("{{pilot.flight}}", 'flight');</script>
<script defer>selector("{{pilot.employer}}", 'employer');</script>